<h1>All items</h1>
<div class="error" *ngIf="error | async">{{ error | async}}</div>
<mat-progress-spinner
  *ngIf="(loading | async) else itemsArea"
  mode="indeterminate"
></mat-progress-spinner>

<ng-template #itemsArea>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.lt-lg="33%"
      fxFlex="25%"
      class="itemsDiv"
      *ngFor="let item of items | async"
    >
      <mat-card>
        <a [routerLink]="['/items/', item.id]">
        <img
          [src]="item.image | image"
          [alt]="'Image of ' + item.title"
          mat-card-lg-image
        />
        <mat-card-title>{{ item.title }}</mat-card-title>
        <mat-card-subtitle>{{ item.price }} $</mat-card-subtitle>
        </a>
      </mat-card>
    </div>
  </div>
</ng-template>
